.logoFOA {
    height: 60px;
}


.container-fluid {
    background: #E5EDED;
}

.nav {
    margin-top: 8px;
}



.space {
    width: 130px;
    text-align: center;
}

a {
    color: dimgrey;
    font-family: Calibri !important;
    font-size: 14px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #C59636;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #C59636;
}

.navbar {
    border: none;
    font-family: Calibri !important;
}

.navbar-header {
    padding-top: 5px;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 7px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #E5EDED;
}

.dropdown-menu > li > a {
    color: dimgrey;
}

.loginBox {
  /*  position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);*/
/*    width: 1000px;*/
    height: 500px;
    background: #E5EDED;
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
    border: 1px solid #C59636;
}


    .loginBox input {
        margin-bottom: 7px;
    }

.inputBox {
    position: relative;
}

    .inputBox span {
        position: absolute;
    }

body {
    margin: 0;
    padding: 0;
    background: #3E8C84;
    height: 100vh;
    font-family: Calibri;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#dashboardHeader {
    font-size: 24px;
    text-align: center;
    color: dimgray;
}

#myChart {
    width: 100%;
    max-width: 7000px !important;
    margin-bottom:80px;
}

#myPlot {
    width: 100%;
    max-width: 450px;
}

.main-svg {
    background-color: transparent !important;
}

rect {
    fill: none !important;
}

td{
    width:100%;
}
