img {
    height: 60px;
}

.container-fluid {
    background: #E5EDED;
}

.nav {
    margin-top: 8px;
}

body {
    margin: 0;
    padding: 0;
    background: #3E8C84;
    height: 100vh;
    font-family: Calibri;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden
}

#particles-js {
    height: 100%
}

.space {
    width: 145px;
    text-align: center;
}

a {
    color: dimgrey;
    font-family: Calibri;
    font-size: 15px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #C59636;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #C59636;
}

.navbar {
    border: none;
}

.navbar-header {
    padding-top: 5px;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 7px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #E5EDED;
}

.dropdown-menu > li > a {
    color: dimgrey;
}

.loginBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 450px;
    background: #E5EDED;
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
    border: 1px solid #C59636;
}

table {
    width: 100%;
    font-family: Calibri;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


tr td {
    /*    width: 160px;*/
    vertical-align: text-top;
    padding-top: 10px;
    padding-left: 15px;
}

.loginBox button {
    border: none;
    outline: none;
    height: 40px;
    width: 80px;
    font-size: 16px;
    background: #C59636;
    color: #fff;
    border-radius: 15px;
    cursor: pointer;
    font-family: Calibri;
}

.loginBox input {
    margin-bottom: 7px;
}

    .loginBox input[type="text"],
    .loginBox select {
        border: none;
        border-bottom: 1px solid #C59636;
        outline: none;
        height: 35px;
        color: gray;
        background: #E5EDED;
        font-family: Calibri;
        border-radius: 7px;
        font-size: 14px;
        padding-left: 20px;
        box-sizing: border-box;
        width: 180px;
    }


        .loginBox input[type="text"]:hover,
        .loginBox select:hover {
            /*    color: #C59636;*/
            border: 1px solid #C59636;
            border-radius: 7px;
            box-shadow: 0 0 5px #C59636;
            font-family: Calibri;
        }

        .loginBox input[type="text"]:focus,
        .loginBox select:focus {
            border: 1px solid #C59636;
            border-radius: 7px;
            font-family: Calibri;
        }
#search {
    position: absolute;
    right: 10px;
    top:40px;
}

#searchWord {
    position: absolute;
    right: 105px;
    top: 42px;
}

