img {
    height: 60px;
}

.container-fluid {
    background: #E5EDED;
}

.nav {
    margin-top: 8px;
}

body {
    font-family: Calibri;
}

.space {
    width: 145px;
    text-align: center;
}

a {
    color: dimgrey;
    font-family: Calibri !important;
    font-size: 15px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #C59636;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #C59636;
}

.navbar {
    border: none;
    font-family: Calibri !important;
}

.navbar-header {
    padding-top: 5px;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 7px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #E5EDED;
}

.dropdown-menu > li > a {
    color: dimgrey;
}

